<div id="userHome" class="row">
    <div class="col-xs-4" style="height: 80vh">
        <div class="row" ng-init="updateBalance();getUserAds()">
            <div class="well" ng-class="getClass()">
                <h2 style="font-weight: bold; margin-top: 0px">Saldo</h2>
                <h4 style="float:right;">{{currentUser.credit | currency : "R$"}} {{getBalanceStatus()}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary" style="margin-left: 80px">
                <div class="panel-heading" ">
                    <h3 class="panel-title">Últimas transações</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item" style="color: #D9534F">
                            Anúncio 1
                            <p style="float: right">- R$ 300,00</p>
                        </a>
                        <a href="#" class="list-group-item" style="color: #D9534F">
                            Anúncio 2
                            <p style="float: right">- R$ 250,00</p>
                        </a>
                        <a href="#" class="list-group-item" style="color: #5cb85c">
                            Anúncio 3
                            <p style="float: right">+ R$ 200,00</p>
                        </a>
                        <a class="list-group-item" style="color: #D9534F">
                            Anúncio 4
                            <p style="float: right">- R$ 550,00</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-8">
        <div class="panel panel-primary" style="margin-left: 40px; margin-top: 40px; margin-right: 40px; height: 450px">
            <div class="panel-heading">
                <h3 class="panel-title">Meus Anúncios</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th>Postado</th>
                        <th>Preço</th>
                        <th>Criador do anúncio</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "ad in userAds">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{ad.title}}</td>
                            <td>{{ad.type}}</td>
                            <td>{{ad.postDate}}</td>
                            <td>{{ad.price | currency : "R$"}}</td>
                            <td>{{ad.owner}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="test()"></button>
    </div>

</div>




