<div id="userHome" class="row">
    <div class="col-xs-4" style="height: 80vh">
        <div class="row" ng-init="loadUserInfo()">
            <div class="well" ng-class="getClass()">
                <h2 style="font-weight: bold; margin-top: 0px">Saldo</h2>
                <h4 style="float:right;">{{currentUser.credit | currency : "R$"}} {{getBalanceStatus()}}</h4>
            </div>
        </div>
        <div class="row">
            <div id="transactionsPanel" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Últimas transações</h3>
                </div>
                <div class="panel-body y-scroll">
                    <div class="list-group">
                        <a ng-repeat="transaction in current.transactions" href="" class="list-group-item" ng-style="{'color': getTransactionColor(transaction)}">
                            {{transaction.title}}
                            <p style="float: right">{{getTransactionSign(transaction)}} {{transaction.price | currency : "R$"}}</p>
                        </a>
                    </div>
                    <ul id="transactionPagination" uib-pagination class="pagination-sm" total-items="transactions.length" items-per-page="4" ng-model="current.transactionPage" ng-change="pageChanged('transaction')" next-text="Próximo" previous-text="Anterior"></ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-8">
        <div id="userAdPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Meus Anúncios</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th>Postado</th>
                        <th>Preço</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "ad in current.ads">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{ad.title}}</td>
                            <td>{{ad.type}}</td>
                            <td>{{ad.postDate | date:"dd/MM/yyyy 'às' HH:mma"}}</td>
                            <td>{{ad.price | currency : "R$"}}</td>
                            <td ng-style="{'color':getAdStatusStyle(ad)}"><b>{{getAdStatus(ad)}}</b></td>
                        </tr>
                    </tbody>
                </table>
                <ul id="adPagination" uib-pagination class="pagination-sm pagination-position" total-items="userAds.length" items-per-page="8" ng-model="current.adPage" ng-change="pageChanged('ad')" next-text="Próximo" previous-text="Anterior"></ul>
            </div>
        </div>
    </div>

</div>




