<div class="center-align" ng-init="loadAds()">
	<h2 style="padding-bottom: 10px;">Anúncios</h2>
	<h4 ng-show="isEmpty()" style="padding-bottom: 10px">Nenhum anúncio listado</h4>
	<table class="table table-striped">
		<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Título</th>
			<th>Tipo</th>
			<th>Postado</th>
			<th>Preço</th>
			<th>Criador do anúncio</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat = "ad in ads" style="cursor: pointer" ng-click="openAdModal($index)">
			<th scope="row">{{$index + 1}}</th>
			<td>{{ad.title}}</td>
			<td>{{ad.type}}</td>
			<td>{{ad.postDate | date:"dd/MM/yyyy 'às' HH:mma"}}</td>
			<td>{{ad.price | currency : "R$"}}</td>
			<td>{{ad.owner}}</td>
		</tr>
		</tbody>
	</table>
</div>