<div class="panel panel-default centered-panel" >
  <div class="panel-heading">Login</div>
  <div class="panel-body">
  	<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-danger'" close="closeAlert($index)">{{alert.msg}}</div>
  	<div class="input-group" style="margin-top: 20px">
	  <span class="input-group-addon" id="sizing-addon2">
	  	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  	  </span>
	  <input type="text" class="form-control" placeholder="Usuário" aria-describedby="sizing-addon2" ng-model = "email">
	</div>
	<div class="input-group" style="margin-top: 30px">
	  <span class="input-group-addon" id="sizing-addon2">
	  	<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
  	  </span>
	  <input type="password" class="form-control" placeholder="Senha" aria-describedby="sizing-addon2" ng-model = "password">
	</div>

	<a class="btn btn-default" ng-click="login()" style="margin-top: 30px; margin-left: 20px; margin-bottom: 20px">
		<span class="glyphicon glyphicon-log-in" aria-hidden='true'></span>
		Login
	</a>
  </div>
</div>